# Secrets non chiffrés
*.key
*.pem
age.key
secrets/plain/

# Kube
kubeconfig
.kube/

# OS
.DS_Store

# Helm
charts/*/charts/
charts/*/Chart.lock
~/.config/sops/age/keys.txt
secrets/*.yaml
!secrets/*.enc.yaml
